# Core dependencies
torch
torchvision
torchaudio
torch-geometric
pytorch-lightning
lightning
hydra-core
hydra-submitit-launcher
omegaconf

# RL & Environments
gymnasium[atari, accept-rom-license]
stable-baselines3
ocatari
hackatari @ git+https://github.com/k4ntz/HackAtari.git

# Logic & Symbolic
captum
rtpt

# Utilities & Data
numpy
pandas
matplotlib
seaborn
scipy
scikit-learn
scikit-image
networkx
tqdm
joblib
pillow
tabulate
lz4
tyro
pyyaml
tensorboard
wandb

# Video & Visualization
pygame
vidmaker
opencv-python
