# Core Requirements (Lax for maximum compatibility)
numpy>=1.20,<2.0.0
captum
ale-py
optuna
optuna-dashboard

# General RL & Deep Learning
torch>=2.0.0
pytorch-lightning
lightning
torch-geometric
torch-tb-profiler
torchmetrics
stable_baselines3
gymnasium
ale-py
hackatari
ocatari
cleanrl

# Hydra & Config
hydra-core
omegaconf

# Scientific & Data
pandas
scipy
scikit-learn
scikit-image
matplotlib
seaborn

# Infrastructure & Utilities
alembic
SQLAlchemy
tensorboard
wandb
tqdm
requests
PyYAML
pydantic
packaging
psutil
colorlog
rich
lark
Jinja2
MarkupSafe
Click

# Fuzzy & Specific Logic
fuzzy-ml
fuzzy-theory
regime
rtpt
